{% extends "layouts/default.njk" %}

{% block content %}
  <h1>{{ title }}</h1>
  <form>
    <input type="text">
    <button type="submit" class="artist-search-btn">Search</button>
  </form>

  <ul>
    {% for artist in rows %}
      <li>{{ artist.name }}</li>
    {% endfor %}
  </ul>

{% endblock %}